iniconfig
numpy
packaging
pluggy
psutil
pytest
scipy

# Added for reporting and visualization
pandas
matplotlib
seaborn

# Added for GIF animation
pillow

# CLI
click

# Documentation
sphinx
sphinx-rtd-theme
